body {

}

fieldset{
width: 50%;
}

legend {
  border: 1px solid Black;
  border-radius: 5px;
  font-style: italic;
  font-weight: bold;
  background-color: LightGrey;
}

label {

}

input {
  margin: 1.5em;
}

#location {

}
#minimum {

}
#maximum {

}
#average{

}

#submit {
  background-color: Blue;
  color: #FFF;
  border: 1px solid Black;
  border-radius: 5px;
  margin-left: 0;
}
