body {
  /*background-color: Salmon;*/
}

header {
  width: auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  font-size: 5em;
  font-family: 'Dancing Script';
  background-color: Salmon;
  color: #FFF;
}

#slogan {
  width: 50%;
  position: relative;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: #FFF;
}

img {
   display: inline;
   width: 15%;
   height: 5%;
   margin: auto;
 }

#left_pic {
  float: left;
}
#right_pic {
  float: right;
}

#photo_section {
  margin: auto;
  background-image: url('img/salmon_pastry.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
}

#location {
  margin: auto;
  background-color: BurlyWood;
  padding: 4%;
}

h3 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2em;
  color: #FFF;
  text-decoration: underline;
  text-shadow: 1px 1px Black;
}

p {
  width: auto;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: Black;
}

footer {
  background-color: Salmon;
  width: auto;
  margin: auto;
  padding: 2%;
  text-align: center;
}

footer p {
  color: #FFF;
}

.highlights {
  font-family: 'Roboto';
  color: Yellow;
}

.data {
  font-family: Verdana;
  color: Green;
}

.text {
  font-family: Georgia;
  color: #FFF;
}
