body {
  background-color: #FFF;
}

header {
  width: auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 20px;
  text-align: center;
  font-size: 5em;
  font-family: 'Dancing Script';
  background-color: Salmon;
  color: #FFF;
}

.nav-bar {
  display: inline-flex;
  margin: 0 auto;
  color: Aqua;
  font-size: 0.3em;
  font-family: 'Roboto';
  font-weight: bold;
  list-style: none;
}

a {
  text-decoration: none;
  color: Aqua;
  width: auto;
  height: auto;
  margin: 0 1em;
}

li {
  border: 1px solid #FFF;
  padding: 10px;
  text-align: center;
}

.link {
  display: block;
  height: 242px;
  margin-top: -242px;
  visibility: hidden;
}

#slogan {
  width: 50%;
  position: relative;
  bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.7em;
  font-style: italic;
  font-weight: bold;
}

img {
   display: inline;
   width: 15%;
   height: 5%;
   margin: auto;
 }

#left_pic {
  float: left;
}
#right_pic {
  float: right;
}

#photo_section {
  margin: auto;
  background-image: url('img/salmon_pastry.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
}

#location {
  margin: auto;
  background-color: BurlyWood;
  padding: 2%;
}

#address {
  font-size: 1.3em;
}

#visit {
  font-size: 1.5em;;
}

h3 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2em;
  /*text-decoration: underline;*/
}

p {
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  color: Black;
}

#family {
  margin: 0 auto;
  text-align: center;
}
#family img {
  width: 216px;
  height: 170px
}

.social_media {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#fb {
  margin: 5px;
  width: 50px;
  height: 50px;
}
#twitter {
  margin: 5px;
  width: 50px;
  height: 50px;
}
#instagram {
  margin: 5px;
  width: 50px;
  height: 50px;
}

footer {
  background-color: Salmon;
  width: auto;
  margin: auto;
  padding: 1.5%;
  text-align: center;
}

.highlights {
  font-family: 'Roboto';
  color: Aqua;
  text-shadow: 1px 1px Black;
  font-weight: bold;
}

.text {
  font-family: Georgia serif; /* standard serif font for text*/
  color: Black;
}
